<?xml version="1.0"?>
<config>
    <modules>
        <Nerdery_Suggest>
             <version>0.1.1</version>
        </Nerdery_Suggest>
    </modules>
    <admin>
        <routers>
            <suggest>
                <use>admin</use>
                <args>
                    <module>Nerdery_Suggest</module>
                    <frontName>suggest</frontName>
                </args>
            </suggest>
        </routers>
    </admin>
    <global>
        <models>
            <suggest>
                <class>Nerdery_Suggest_Model</class>
                <resourceModel>suggest_resource</resourceModel>
            </suggest>
            <suggest_resource>
                <class>Nerdery_Suggest_Model_Resource</class>
                <entities>
                    <product>
                        <table>nerdery_suggest_product</table>
                    </product>
                    <log>
                        <table>nerdery_suggest_log</table>
                    </log>
                </entities>
            </suggest_resource>
        </models>
        <blocks>
            <suggest>
                <class>Nerdery_Suggest_Block</class>
            </suggest>
        </blocks>
        <helpers>
            <suggest>
                <class>Nerdery_Suggest_Helper</class>
            </suggest>
        </helpers>
        <resources>
            <nerdery_suggest_setup>
                <setup>
                    <module>Nerdery_Suggest</module>
                    <class>Nerdery_Suggest_Model_Entity_Setup</class>
                </setup>
            </nerdery_suggest_setup>
        </resources>
    </global>
    <adminhtml>
        <menu>
            <nerdery_modules translate="title" module="suggest">
                <title>Nerdery</title> 
                <sort_order>9999</sort_order>
                <children>
                    <suggestion_module module="suggest">
                        <title>Product Suggestions</title> 
                        <children>
                            <suggestion_management module="suggest">
                                <title>Product Suggestions</title> 
                                <action>suggest/admin/manage</action>
                            </suggestion_management>
                            <action_log module="suggest">
                                <title>Action Log</title> 
                                <action>suggest/admin/log</action>
                            </action_log>
                        </children>
                    </suggestion_module>
                </children>
            </nerdery_modules>
        </menu> 
        <layout>
            <updates>
                <suggest>
                    <file>nerdery.xml</file>
                </suggest>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events/>
        <routers>
            <suggest>
                <use>standard</use>
                <args>
                    <module>Nerdery_Suggest</module>
                    <frontName>suggest</frontName>
                </args>
            </suggest>
        </routers>
        <translate>
            <modules>
                <Nerdery_Suggest>
                    <files>
                        <default>Nerdery_Suggest.csv</default>
                    </files>
                </Nerdery_Suggest>
            </modules>
        </translate>
        <layout>
            <updates>
                <suggest>
                    <file>nerdery.xml</file>
                </suggest>
            </updates>
        </layout>
    </frontend>
    <default>
        <nerdery>
            <suggest>
                <weekend>0</weekend>
            </suggest>
        </nerdery>
    </default>
</config>